//META{"name":"NightPony","description":"Beautiful Discord Background with Pony OC (Double Star, artist: Ramiras) by Eternal","author":"endlessnoisuf#2300","version":"1"}*//

:root {
	--transparencycolor: 0,0,0;		/* default: 0,0,0 */
	--transparencyalpha: 0.15;		/* default: 0.15 */
	--messagetransparency: 0.5;		/* default: 0.5 (set this to 0 to get rid of the black boxes around messages) */
	--memberlistransparency: 0;		/* default: 0 (additional darkness for member list can be changed in case a bright background makes the list hard to read) */
	--accentcolor: 56, 173, 183; 		/* default: 190,78,180 discord: 114,137,218 bd-blue: 58,113,193*/
	--background: url(https://i.imgur.com/hPMNNuW.jpg); /* replace the link in url() with your own direct image link to change the background */
	--backdrop: rgba(0,0,0,0.4);	/* default: rgba(0,0,0,0.4) can also be changed to an image like --background */
}






@import url(https://cdn.rawgit.com/endlessnoisuf/nightpony/e595154e/Resource.css);