//META{"name":"NightPony","description":"Beautiful Discord Background with Pony OC (Double Star, artist: Ramiras) by Eternal","author":"endlessnoisuf#2300","version":"1"}*//

@import url(https://rawgit.com/endlessnoisuf/nightpony/master/Resource.css);

:root {
	--transparencycolor: 0,0,0;
	--transparencyalpha: 0.15;
	--messagetransparency: 0.5;	
	--memberlistransparency: 0;
	--accentcolor: 56, 173, 183;
	--background: url(https://i.imgur.com/hPMNNuW.jpg);
	--backdrop: rgba(0,0,0,0.4);
}